<div class="todo-app">
  <h1 [innerHtml]="title"></h1> <!--Property Binding -->
  
  <!-- <h2>{{ task }}</h2> -->
  <input class="taskinput" type="text" [(ngModel)]="task" placeholder="Enter task">
  <button (click)="addtask()">Add Task</button>
  
  
  @for(task of taskList;track task.id){
      <ul class="task">
          <li class="tasklist">{{ task.id+1 }}</li>
          <li class="tasklist">{{ task.desc }}</li>
          <div class="button">
              <li><button class="del" (click)="deletetask(task.id)">Delete Task</button></li>
              <li><button class="edit" (click)="edittask(task)">Edit Task</button></li>
          </div>
      </ul>
    }
  </div>